<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bhavik.bsocklib" >
    <service
        android:name=".SensorService"
        android:enabled="true"
        android:stopWithTask="false"
        tools:ignore="WrongManifestParent">
    </service>

    <receiver
        android:name=".SensorRestartBroadcastReceiver"
        android:enabled="true"
        android:exported="true"
        android:label="RestartServiceWhenStopped"
        tools:ignore="WrongManifestParent">
        <intent-filter>
            <action android:name="com.arvi.ActivityRecognition.RestartSensor"/>
        </intent-filter>
    </receiver>
</manifest>
